*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: black;
    background-size: cover;
    color: aliceblue;
}

nav{
    padding-top: 2%;
    text-align: center;
    width: 100%;
    height: 7%;
    font-size: 25px;
    background-color: black;
}

a{
    padding: 2%;
    color: aliceblue;
    margin: 0;
    text-decoration: none;
}

a:hover {
    padding: 2%;
    background-color: #ddd;
    color: black;
  }

.comics{
    width: 100%;
    height: 93%;
    background-color: aliceblue;
}

figure {
    float: left;
    width: 300px;
    height: 450px;
    padding: 5px;
    margin: 2% 3%;
}

@media screen and (max-width: 999px){
    
    a{
        padding: 1%;
        color: aliceblue;
        margin: 1%;
        text-decoration: none;
    }
    
    a:hover {
        padding: 1%;
        background-color: #ddd;
        color: black;
      }
}

.divm{
    width: 100%;
    height: 70%;
    margin: 30% 0 0 0;
    background-color: aliceblue;
    color: black;
    font-size: large;
}

h1{
    color: gray;
}